{% extends 'base.html.twig' %}

{% block title %}Page d'accueil
{% endblock %}

{% block monTitre %}Liste des animaux
{% endblock %}

{% block body %}

	{% for animal in animaux %}

		<div class="row align-item-center">
			<div class="col-2 text-center py-2">
				<img src="{{ asset('images/' ~ animal.image) }}">
			</div>
			<div class="col-auto py-2">
				<h2>Nom :
					{{ animal.nom }}</h2>
				<div>Poids :
					{{ animal.poids }}</div>
				<div>Description :
					{{ animal.description }}</div>
				<div>Dangereux :
					{% if(animal.dangereux) %}
						Oui
					{% else %}
						Non
					{% endif %}
				</div>
			</div>
		{% endfor %}

	{% endblock %}
